@{
  Layout = "_Layout";
}

<body style="background-color: #f6dbf9;">
<br>
<br>
<h3>Karma++ is a community-driven platform that connects individuals who want to donate, volunteer or offer free services with organizations and people in the community.</h3>
<br>
<br>


<h4><a href="/Account/Register" style="color: rgb(110, 67, 118);">Join</a> our Karma++ community today and make the world a better place!</h4>

</body>