@{
  Layout = "_Layout";
}

<body style="background-color: #e1ece1;">
<br>
<br>
<h3>Karma++ is a community-driven platform that connects individuals who want to donate, volunteer or offer free services with organizations and people in the community.</h3>
<br>
<br>


<a href="/Account/Register" style="color: rgb(67, 118, 70);">Join</a> our Karma++ community today and make the world a better place!</p>

<div id="navlinks">
  <p>@Html.ActionLink("Home", "Index", "Home")</p>
</div>
</body>