@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Karma++</h1>
    <br>
    <h3>Explore <a href="/Services" style="color: rgb(67, 118, 70);">services</a></a></h3>
    <br>
    @if(User.Identity.Name == null)
    {
    <h4><a href="/Account/Register" style="color: rgb(67, 118, 70);">Sign up for an account</a> or <a href="/Account/Login" style="color: rgb(67, 118, 70);">log in</a> <strong>to join the Karma++ community</strong></h4>
    }
    <img src="/img/image.jpg" alt="image">
</div>