@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Karma++</h1>
    <br>
    <h2>Choose the way to contribute below:</h2>
    <br>
    <h3>Explore <a href="/Services" style="color: rgb(110, 67, 118); font-size: 32px">services</a></a></h3>
    <br>
    <h3>Explore <a href="/Charities" style="color: rgb(110, 67, 118); font-size: 32px">charities</a></a></h3>
    <br>
    <h3>Explore <a href="/Charities" style="color: rgb(110, 67, 118); font-size: 32px">volunteering opportunities</a></a></h3>
    <br>
    @if(User.Identity.Name == null)
    {
    <h4><a href="/Account/Register" style="color: rgb(110, 67, 118);">Sign up for an account</a> or <a href="/Account/Login" style="color: rgb(110, 67, 118);">log in</a> <strong>to join the Karma++ community</strong></h4>
    }
    <img src="/img/image.jpg" alt="image">
</div>