
@{
  ViewData["Title"] = $"Delete {Model.VolunteeringName}";
}

@model Karmaplusplus.Models.Volunteering

<h4>Are you sure you want to remove @Model.VolunteeringName?</h4>

@using (Html.BeginForm())
{
  <input type="submit" value="Delete" class="btn btn-primary"/>
}

<div id="navlinks">
<p>@Html.ActionLink("Back to details", "Details", new { id = @Model.VolunteeringId})</p>
</div>