@{
  Layout = "_Layout";
}

@if (User.Identity.IsAuthenticated)
{
  <h4>My Volunteering Opportunities</h4>
  <br>
  @foreach (Volunteering volunteering in Model)
{
  <div class="col-md-4">
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title">@volunteering.VolunteeringName</h5>
        <p class="card-text">@volunteering.Description</p>
        <a href="/Services/Details/@(volunteering.VolunteeringId)" class="btn btn-primary">Details</a>
      </div>
    </div>
  </div>
}
  <div id="navlinks">
    <p>@Html.ActionLink("Back to Account page", "Index")</p>
  </div>
}