@{
  ViewData["Title"] = "Charities";
}

<h3>Below, please enter a charity cause to see the list of the charities available:</h3>
<br>
<div class="">
  
  @using (Html.BeginForm("Search", "Charities")) {
  <label class="mdl-textfield__label" for="sample3">Search Charities By Cause:</label>
  <br>
  <input class="mdl-textfield__input" type="text" placeholder = "Search" name="name" id="sample3"><br><br>
  <input type="submit" class = "btn btn-primary" name = "name" value="Search"/>
  }


</div>